#login-button {
    background-color: #ff8000;
    border-color: #ff8000;
    margin-left: auto
}

#main-container {
    margin-top: 50px;
}

#main-container>.header-text {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column
}

.login-form>.field-container {
    margin: auto;
    width: 300px;
    margin-bottom: 0.5rem;
}

.login-form>.login-button {
    align-self: center;
    margin-top: 20px;
}

@media only screen and (min-width: 500px) {
    #navbar>.navbar-brand {
        font-size: 20px;
        margin-left: 10px;
    }

    .login-form .login-field>.ui.input.focus>input,
    .ui.input>input:focus {
        border-color: #ff8000;
    }
}