.main-container {
    font-family: "Kanit", sans-serif;
}

.ui.container {
    max-width: 1080px !important;
}

.main-container>.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-container>.profile-image,
.profile-container>.profile-detail {
    padding: 1.5rem 0;
    align-self: center;
}

.profile-container>.profile-image>.image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-container>.profile-detail {
    /* background-color: red; */
    width: 100%;
}

.profile-container>.profile-detail .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.profile-container>.profile-detail .title {
    width: 50%;
}

.profile-container>.profile-detail .data {
    margin-right: auto;
}

.profile-container>.profile-detail .button-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.edit-button {
    font-family: 'Kanit', sans-serif !important;
}

@media only screen and (min-width: 700px) {
    .profile-container>.profile-image {
        /* margin-left: 15%; */
        align-self: unset;
    }

    .profile-container>.profile-image>.image {
        height: 225px;
        width: 225px;
    }

    .profile-container>.profile-detail {
        width: 75%;
    }

    .main-container>.profile-container {
        flex-direction: row;
        padding: 0.75rem;
        justify-content: space-between;
    }
}