body {
    font-size: 1.25em;
    /* font-family: "Kanit", sans-serif !important; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Kanit", sans-serif !important;
}

#navbar {
    height: 50px;
    background-color: #ff8000;
    min-width: 320px;
}

#navbar-inner {
    max-width: 1075px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar-inner>.navbar-brand {
    font-size: 1.5rem;
    /* margin-left: 10px; */
}

#navbar-inner>.navbar-brand>a {
    color: #f8f8f8;
}

#navbar-inner>.navbar-brand>a:hover {
    color: #d8d8d8;
}

#navbar-inner>.header-item {
    align-self: center;
    width: 100%
}

#navbar-inner>.header-item.-right {
    text-align: right;
    /* margin-right: 10px; */
    display: block;
    color: #f8f8f8;
}

#content-wrapper {
    overflow-x: hidden;
}

#success-modal {
    max-width: 300px;
}

.ui.modal.progress-modal>.header {
    text-align: center;
    border: none;
    font-family: 'Kanit', sans-serif;
}

.ui.modal.progress-modal>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.ui.modal.progress-modal>.content .success-icon {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    padding: 11px;
}

.ui.modal.progress-modal>.progress {
    display: flex
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    margin: 0 auto;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #b5b5b5;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  

.login-form .login-field>.ui.input.focus>input,
.ui.input>input:focus {
    border-color: #ff8000;
}

@media only screen and (max-width: 699px) {
    body {
        font-size: 1em;
    }
}